In [1]:
import pandas as pd

In [2]:
#Read in Census data for NYC
df = pd.read_csv('Resources/NYC_census.csv', index_col=False)

In [ ]:
df.head()

In [3]:
df = df.set_index('Label (Grouping)')

In [4]:
#Flip rows and columns to match other data sets to join
df_transposed = df.transpose().reset_index()
df_transposed

Label (Grouping),index,SEX AND AGE,Total population,Male,Female,Sex ratio (males per 100 females),Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,...,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,Two races including Some other race,"Two races excluding Some other race, and Three or more races",Total housing units,"CITIZEN, VOTING AGE POPULATION","Citizen, 18 and over population",Male,Female
0,ZCTA5 06390!!Estimate,NaN,125.0,75.0,50.0,150.0,9.0,0.0,2.0,6.0,...,0.0,0.0,4.0,4.0,0.0,669.0,NaN,107.0,64.0,43.0
1,ZCTA5 06390!!Margin of Error,NaN,±106,±73,±37,±83.1,±11,±12,±4,±7,...,±12,±12,±9,±9,±12,±79,NaN,±104,±71,±35
2,ZCTA5 06390!!Percent,NaN,125,60.0%,40.0%,(X),7.2%,0.0%,1.6%,4.8%,...,0.0%,0.0%,3.2%,3.2%,0.0%,(X),NaN,107,59.8%,40.2%
3,ZCTA5 06390!!Percent Margin of Error,NaN,(X),±14.3,±14.3,(X),±10.6,±22.6,±3.8,±6.2,...,±22.6,±22.6,±8.3,±8.3,±22.6,(X),NaN,(X),±16.0,±16.0
4,ZCTA5 10001!!Estimate,NaN,"24,117","12,181","11,936",102.1,696,376,735,"1,215",...,21,92,323,7,316,"14,746",NaN,"18,676","9,409","9,267"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7171,ZCTA5 14904!!Percent Margin of Error,NaN,(X),±2.0,±2.0,(X),±1.7,±1.3,±1.3,±1.0,...,±0.2,±0.5,±1.2,±0.2,±1.2,(X),NaN,(X),±2.1,±2.1
7172,ZCTA5 14905!!Estimate,NaN,"8,407","3,756","4,651",80.8,521,417,542,563,...,7,0,194,0,194,"4,288",NaN,"6,483","2,923","3,560"
7173,ZCTA5 14905!!Margin of Error,NaN,±487,±334,±349,±9.3,±159,±140,±151,±220,...,±12,±17,±129,±17,±129,±226,NaN,±360,±270,±240
7174,ZCTA5 14905!!Percent,NaN,"8,407",44.7%,55.3%,(X),6.2%,5.0%,6.4%,6.7%,...,0.1%,0.0%,2.3%,0.0%,2.3%,(X),NaN,"6,483",45.1%,54.9%
7175,ZCTA5 14905!!Percent Margin of Error,NaN,(X),±2.8,±2.8,(X),±1.9,±1.6,±1.7,±2.5,...,±0.1,±0.4,±1.5,±0.4,±1.5,(X),NaN,(X),±2.8,±2.8

In [5]:
df_transposed = df_transposed.rename(columns={"index": "identifier"})
df_transposed

Label (Grouping),identifier,SEX AND AGE,Total population,Male,Female,Sex ratio (males per 100 females),Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,...,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,Two races including Some other race,"Two races excluding Some other race, and Three or more races",Total housing units,"CITIZEN, VOTING AGE POPULATION","Citizen, 18 and over population",Male,Female
0,ZCTA5 06390!!Estimate,NaN,125.0,75.0,50.0,150.0,9.0,0.0,2.0,6.0,...,0.0,0.0,4.0,4.0,0.0,669.0,NaN,107.0,64.0,43.0
1,ZCTA5 06390!!Margin of Error,NaN,±106,±73,±37,±83.1,±11,±12,±4,±7,...,±12,±12,±9,±9,±12,±79,NaN,±104,±71,±35
2,ZCTA5 06390!!Percent,NaN,125,60.0%,40.0%,(X),7.2%,0.0%,1.6%,4.8%,...,0.0%,0.0%,3.2%,3.2%,0.0%,(X),NaN,107,59.8%,40.2%
3,ZCTA5 06390!!Percent Margin of Error,NaN,(X),±14.3,±14.3,(X),±10.6,±22.6,±3.8,±6.2,...,±22.6,±22.6,±8.3,±8.3,±22.6,(X),NaN,(X),±16.0,±16.0
4,ZCTA5 10001!!Estimate,NaN,"24,117","12,181","11,936",102.1,696,376,735,"1,215",...,21,92,323,7,316,"14,746",NaN,"18,676","9,409","9,267"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7171,ZCTA5 14904!!Percent Margin of Error,NaN,(X),±2.0,±2.0,(X),±1.7,±1.3,±1.3,±1.0,...,±0.2,±0.5,±1.2,±0.2,±1.2,(X),NaN,(X),±2.1,±2.1
7172,ZCTA5 14905!!Estimate,NaN,"8,407","3,756","4,651",80.8,521,417,542,563,...,7,0,194,0,194,"4,288",NaN,"6,483","2,923","3,560"
7173,ZCTA5 14905!!Margin of Error,NaN,±487,±334,±349,±9.3,±159,±140,±151,±220,...,±12,±17,±129,±17,±129,±226,NaN,±360,±270,±240
7174,ZCTA5 14905!!Percent,NaN,"8,407",44.7%,55.3%,(X),6.2%,5.0%,6.4%,6.7%,...,0.1%,0.0%,2.3%,0.0%,2.3%,(X),NaN,"6,483",45.1%,54.9%
7175,ZCTA5 14905!!Percent Margin of Error,NaN,(X),±2.8,±2.8,(X),±1.9,±1.6,±1.7,±2.5,...,±0.1,±0.4,±1.5,±0.4,±1.5,(X),NaN,(X),±2.8,±2.8

In [6]:
#Split out the data type
df_transposed[['identifier','data_type']] = df_transposed['identifier'].str.split('!!', expand=True)

In [7]:
#Split out the postal code
df_transposed[['identifier','postal_code']] = df_transposed['identifier'].str.split(' ', expand=True)
df_transposed

Label (Grouping),identifier,SEX AND AGE,Total population,Male,Female,Sex ratio (males per 100 females),Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,...,Two or more races,Two races including Some other race,"Two races excluding Some other race, and Three or more races",Total housing units,"CITIZEN, VOTING AGE POPULATION","Citizen, 18 and over population",Male,Female,data_type,postal_code
0,ZCTA5,NaN,125.0,75.0,50.0,150.0,9.0,0.0,2.0,6.0,...,4.0,4.0,0.0,669.0,NaN,107.0,64.0,43.0,Estimate,06390
1,ZCTA5,NaN,±106,±73,±37,±83.1,±11,±12,±4,±7,...,±9,±9,±12,±79,NaN,±104,±71,±35,Margin of Error,06390
2,ZCTA5,NaN,125,60.0%,40.0%,(X),7.2%,0.0%,1.6%,4.8%,...,3.2%,3.2%,0.0%,(X),NaN,107,59.8%,40.2%,Percent,06390
3,ZCTA5,NaN,(X),±14.3,±14.3,(X),±10.6,±22.6,±3.8,±6.2,...,±8.3,±8.3,±22.6,(X),NaN,(X),±16.0,±16.0,Percent Margin of Error,06390
4,ZCTA5,NaN,"24,117","12,181","11,936",102.1,696,376,735,"1,215",...,323,7,316,"14,746",NaN,"18,676","9,409","9,267",Estimate,10001
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7171,ZCTA5,NaN,(X),±2.0,±2.0,(X),±1.7,±1.3,±1.3,±1.0,...,±1.2,±0.2,±1.2,(X),NaN,(X),±2.1,±2.1,Percent Margin of Error,14904
7172,ZCTA5,NaN,"8,407","3,756","4,651",80.8,521,417,542,563,...,194,0,194,"4,288",NaN,"6,483","2,923","3,560",Estimate,14905
7173,ZCTA5,NaN,±487,±334,±349,±9.3,±159,±140,±151,±220,...,±129,±17,±129,±226,NaN,±360,±270,±240,Margin of Error,14905
7174,ZCTA5,NaN,"8,407",44.7%,55.3%,(X),6.2%,5.0%,6.4%,6.7%,...,2.3%,0.0%,2.3%,(X),NaN,"6,483",45.1%,54.9%,Percent,14905
7175,ZCTA5,NaN,(X),±2.8,±2.8,(X),±1.9,±1.6,±1.7,±2.5,...,±1.5,±0.4,±1.5,(X),NaN,(X),±2.8,±2.8,Percent Margin of Error,14905

In [18]:
#Keep only the 'Estimate' data type, now we have a single row per zip code
census_df = df_transposed[df_transposed.data_type == 'Estimate']

In [19]:
census_df = census_df.dropna(axis=1)

In [20]:
census_df

Label (Grouping),identifier,Total population,Male,Female,Sex ratio (males per 100 females),Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,...,Some other race alone,Two or more races,Two races including Some other race,"Two races excluding Some other race, and Three or more races",Total housing units,"Citizen, 18 and over population",Male,Female,data_type,postal_code
0,ZCTA5,125.0,75.0,50.0,150.0,9.0,0.0,2.0,6.0,3.0,...,0.0,4.0,4.0,0.0,669.0,107.0,64.0,43.0,Estimate,06390
4,ZCTA5,"24,117","12,181","11,936",102.1,696,376,735,"1,215","2,043",...,92,323,7,316,"14,746","18,676","9,409","9,267",Estimate,10001
8,ZCTA5,"74,479","34,989","39,490",88.6,"2,516","2,614","2,850","2,597","4,556",...,132,"1,409",54,"1,355","35,921","53,646","24,849","28,797",Estimate,10002
12,ZCTA5,"53,977","26,964","27,013",99.8,"1,421",890,549,"7,501","5,717",...,155,"1,041",160,881,"30,931","44,096","22,078","22,018",Estimate,10003
16,ZCTA5,"3,335","1,432","1,903",75.2,173,78,86,75,86,...,35,97,0,97,"2,264","2,537","1,118","1,419",Estimate,10004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7156,ZCTA5,"2,018",973,"1,045",93.1,268,181,108,163,175,...,0,26,0,26,809,"1,359",671,688,Estimate,14898
7160,ZCTA5,"15,855","8,395","7,460",112.5,"1,224","1,063",840,"1,102","1,401",...,26,865,23,842,"6,328","11,992","6,419","5,573",Estimate,14901
7164,ZCTA5,"7,600","3,918","3,682",106.4,374,327,505,335,359,...,0,201,0,201,"3,851","6,120","2,985","3,135",Estimate,14903
7168,ZCTA5,"15,176","7,275","7,901",92.1,822,"1,162","1,048",860,"1,236",...,45,603,23,580,"7,315","11,403","5,420","5,983",Estimate,14904
7172,ZCTA5,"8,407","3,756","4,651",80.8,521,417,542,563,381,...,0,194,0,194,"4,288","6,483","2,923","3,560",Estimate,14905

In [21]:
#drop unnecessary columns
census_df = census_df.drop(columns=['identifier','data_type'])
census_df

Label (Grouping),Total population,Male,Female,Sex ratio (males per 100 females),Under 5 years,5 to 9 years,10 to 14 years,15 to 19 years,20 to 24 years,25 to 34 years,...,Native Hawaiian and Other Pacific Islander alone,Some other race alone,Two or more races,Two races including Some other race,"Two races excluding Some other race, and Three or more races",Total housing units,"Citizen, 18 and over population",Male,Female,postal_code
0,125.0,75.0,50.0,150.0,9.0,0.0,2.0,6.0,3.0,13.0,...,0.0,0.0,4.0,4.0,0.0,669.0,107.0,64.0,43.0,06390
4,"24,117","12,181","11,936",102.1,696,376,735,"1,215","2,043","6,082",...,21,92,323,7,316,"14,746","18,676","9,409","9,267",10001
8,"74,479","34,989","39,490",88.6,"2,516","2,614","2,850","2,597","4,556","13,365",...,22,132,"1,409",54,"1,355","35,921","53,646","24,849","28,797",10002
12,"53,977","26,964","27,013",99.8,"1,421",890,549,"7,501","5,717","13,412",...,73,155,"1,041",160,881,"30,931","44,096","22,078","22,018",10003
16,"3,335","1,432","1,903",75.2,173,78,86,75,86,877,...,17,35,97,0,97,"2,264","2,537","1,118","1,419",10004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7156,"2,018",973,"1,045",93.1,268,181,108,163,175,234,...,0,0,26,0,26,809,"1,359",671,688,14898
7160,"15,855","8,395","7,460",112.5,"1,224","1,063",840,"1,102","1,401","2,399",...,0,26,865,23,842,"6,328","11,992","6,419","5,573",14901
7164,"7,600","3,918","3,682",106.4,374,327,505,335,359,"1,104",...,0,0,201,0,201,"3,851","6,120","2,985","3,135",14903
7168,"15,176","7,275","7,901",92.1,822,"1,162","1,048",860,"1,236","2,171",...,0,45,603,23,580,"7,315","11,403","5,420","5,983",14904
7172,"8,407","3,756","4,651",80.8,521,417,542,563,381,908,...,7,0,194,0,194,"4,288","6,483","2,923","3,560",14905

In [22]:
census_df.columns

Index(['    Total population', '        Male', '        Female',
       '        Sex ratio (males per 100 females)', '        Under 5 years',
       '        5 to 9 years', '        10 to 14 years',
       '        15 to 19 years', '        20 to 24 years',
       '        25 to 34 years', '        35 to 44 years',
       '        45 to 54 years', '        55 to 59 years',
       '        60 to 64 years', '        65 to 74 years',
       '        75 to 84 years', '        85 years and over',
       '        Median age (years)', '        Under 18 years',
       '        16 years and over', '        18 years and over',
       '        21 years and over', '        62 years and over',
       '        65 years and over', '        18 years and over',
       '            Male', '            Female',
       '            Sex ratio (males per 100 females)',
       '        65 years and over', '            Male', '            Female',
       '            Sex ratio (males per 100 females)', '    Total population',
       '        One race', '        Two or more races', '        One race',
       '            White', '            Black or African American',
       '            American Indian and Alaska Native',
       '                Cherokee tribal grouping',
       '                Chippewa tribal grouping',
       '                Navajo tribal grouping',
       '                Sioux tribal grouping', '            Asian',
       '                Asian Indian', '                Chinese',
       '                Filipino', '                Japanese',
       '                Korean', '                Vietnamese',
       '                Other Asian',
       '            Native Hawaiian and Other Pacific Islander',
       '                Native Hawaiian',
       '                Guamanian or Chamorro', '                Samoan',
       '                Other Pacific Islander', '            Some other race',
       '        Two or more races',
       '            White and Black or African American',
       '            White and American Indian and Alaska Native',
       '            White and Asian',
       '            Black or African American and American Indian and Alaska Native',
       '    Total population', '        White',
       '        Black or African American',
       '        American Indian and Alaska Native', '        Asian',
       '        Native Hawaiian and Other Pacific Islander',
       '        Some other race', '    Total population',
       '        Hispanic or Latino (of any race)', '            Mexican',
       '            Puerto Rican', '            Cuban',
       '            Other Hispanic or Latino',
       '        Not Hispanic or Latino', '            White alone',
       '            Black or African American alone',
       '            American Indian and Alaska Native alone',
       '            Asian alone',
       '            Native Hawaiian and Other Pacific Islander alone',
       '            Some other race alone', '            Two or more races',
       '                Two races including Some other race',
       '                Two races excluding Some other race, and Three or more races',
       'Total housing units', '    Citizen, 18 and over population',
       '        Male', '        Female', 'postal_code'],
      dtype='object', name='Label (Grouping)')

In [61]:
#pick only relevant columns
census_df2 = census_df.iloc[:,[89,0,3,17,36,37,38,43,51,56,57,85]]

In [62]:
census_df2

Label (Grouping),postal_code,Total population,Sex ratio (males per 100 females),Median age (years),White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Total housing units
0,06390,125.0,150.0,44.6,117.0,0.0,0.0,0.0,0.0,4.0,4.0,669.0
4,10001,"24,117",102.1,36.9,"15,677","1,510",16,"5,377",21,799,717,"14,746"
8,10002,"74,479",88.6,44.3,"23,849","6,635",724,"31,198",22,"8,924","3,127","35,921"
12,10003,"53,977",99.8,32.5,"40,681","3,007",81,"7,812",73,"1,155","1,168","30,931"
16,10004,"3,335",75.2,37.4,"2,033",142,0,992,17,35,116,"2,264"
...,...,...,...,...,...,...,...,...,...,...,...,...
7156,14898,"2,018",93.1,28.2,"1,992",0,0,0,0,0,26,809
7160,14901,"15,855",112.5,34.4,"11,797","2,656",213,131,5,128,925,"6,328"
7164,14903,"7,600",106.4,46.0,"7,219",101,0,54,0,24,202,"3,851"
7168,14904,"15,176",92.1,36.3,"13,055","1,304",24,28,0,134,631,"7,315"
7172,14905,"8,407",80.8,43.0,"7,329",553,0,146,7,167,205,"4,288"

In [63]:
census_df2.dtypes

Label (Grouping)
postal_code                                               object
    Total population                                      object
        Sex ratio (males per 100 females)                 object
        Median age (years)                                object
            White                                         object
            Black or African American                     object
            American Indian and Alaska Native             object
            Asian                                         object
            Native Hawaiian and Other Pacific Islander    object
            Some other race                               object
        Two or more races                                 object
Total housing units                                       object
dtype: object

In [64]:
#Remove commas as they are stopping conversions from str to float
census_df2 = census_df2.apply(lambda x: x.str.replace(',', ''))
census_df

Label (Grouping),postal_code,Total population,Sex ratio (males per 100 females),Median age (years),White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Total housing units
0,06390,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10001,24117,102.1,36.9,15677,1510,16,5377,21,799,717,14746
8,10002,74479,88.6,44.3,23849,6635,724,31198,22,8924,3127,35921
12,10003,53977,99.8,32.5,40681,3007,81,7812,73,1155,1168,30931
16,10004,3335,75.2,37.4,2033,142,0,992,17,35,116,2264
...,...,...,...,...,...,...,...,...,...,...,...,...
7156,14898,2018,93.1,28.2,1992,0,0,0,0,0,26,809
7160,14901,15855,112.5,34.4,11797,2656,213,131,5,128,925,6328
7164,14903,7600,106.4,46.0,7219,101,0,54,0,24,202,3851
7168,14904,15176,92.1,36.3,13055,1304,24,28,0,134,631,7315
7172,14905,8407,80.8,43.0,7329,553,0,146,7,167,205,4288

In [65]:
#find na values
census_df2.isna().sum()

Label (Grouping)
postal_code                                                 0
    Total population                                      375
        Sex ratio (males per 100 females)                 375
        Median age (years)                                375
            White                                         375
            Black or African American                     375
            American Indian and Alaska Native             375
            Asian                                         375
            Native Hawaiian and Other Pacific Islander    375
            Some other race                               375
        Two or more races                                 375
Total housing units                                       375
dtype: int64

In [66]:
#drop na values
census_df2 = census_df2.dropna()
census_df2

Label (Grouping),postal_code,Total population,Sex ratio (males per 100 females),Median age (years),White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Total housing units
4,10001,24117,102.1,36.9,15677,1510,16,5377,21,799,717,14746
8,10002,74479,88.6,44.3,23849,6635,724,31198,22,8924,3127,35921
12,10003,53977,99.8,32.5,40681,3007,81,7812,73,1155,1168,30931
16,10004,3335,75.2,37.4,2033,142,0,992,17,35,116,2264
20,10005,8701,89.5,30.3,6532,94,0,1543,0,217,315,5889
...,...,...,...,...,...,...,...,...,...,...,...,...
7156,14898,2018,93.1,28.2,1992,0,0,0,0,0,26,809
7160,14901,15855,112.5,34.4,11797,2656,213,131,5,128,925,6328
7164,14903,7600,106.4,46.0,7219,101,0,54,0,24,202,3851
7168,14904,15176,92.1,36.3,13055,1304,24,28,0,134,631,7315
7172,14905,8407,80.8,43.0,7329,553,0,146,7,167,205,4288

In [89]:
#Remove '-' and spaces as they are stopping conversions from str to float
census_df2 = census_df2.apply(lambda x: x.str.replace('-', ''))
census_df2 = census_df2.apply(lambda x: x.str.replace(' ', ''))
census_df2

Label (Grouping),postal_code,Total population,Sex ratio (males per 100 females),Median age (years),White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Total housing units
4,10001,24117,102.1,36.9,15677,1510,16,5377,21,799,717,14746
8,10002,74479,88.6,44.3,23849,6635,724,31198,22,8924,3127,35921
12,10003,53977,99.8,32.5,40681,3007,81,7812,73,1155,1168,30931
16,10004,3335,75.2,37.4,2033,142,0,992,17,35,116,2264
20,10005,8701,89.5,30.3,6532,94,0,1543,0,217,315,5889
...,...,...,...,...,...,...,...,...,...,...,...,...
7156,14898,2018,93.1,28.2,1992,0,0,0,0,0,26,809
7160,14901,15855,112.5,34.4,11797,2656,213,131,5,128,925,6328
7164,14903,7600,106.4,46.0,7219,101,0,54,0,24,202,3851
7168,14904,15176,92.1,36.3,13055,1304,24,28,0,134,631,7315
7172,14905,8407,80.8,43.0,7329,553,0,146,7,167,205,4288

In [69]:
len(census_df2.columns)

12

In [117]:
#Write DF to csv to clean fill blanks with 0s in CSV as code wasn't working
census_df2.to_csv('Resources/census_df2.csv')

# Cleaned up data in csv

In [124]:
#Read in cleaned up CSV
cleaned_census_df = pd.read_csv('Resources/census_df2.csv')
cleaned_census_df

,Unnamed: 0,postal_code,Total population,Sex ratio (males per 100 females),Median age (years),White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Total housing units
0,4,10001,24117,102.1,36.9,15677,1510.0,16,5377,21,799,717,14746
1,8,10002,74479,88.6,44.3,23849,6635.0,724,31198,22,8924,3127,35921
2,12,10003,53977,99.8,32.5,40681,3007.0,81,7812,73,1155,1168,30931
3,16,10004,3335,75.2,37.4,2033,142.0,0,992,17,35,116,2264
4,20,10005,8701,89.5,30.3,6532,94.0,0,1543,0,217,315,5889
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1414,7156,14898,2018,93.1,28.2,1992,0.0,0,0,0,0,26,809
1415,7160,14901,15855,112.5,34.4,11797,2656.0,213,131,5,128,925,6328
1416,7164,14903,7600,106.4,46.0,7219,101.0,0,54,0,24,202,3851
1417,7168,14904,15176,92.1,36.3,13055,1304.0,24,28,0,134,631,7315
1418,7172,14905,8407,80.8,43.0,7329,553.0,0,146,7,167,205,4288

In [125]:
cleaned_census_df = cleaned_census_df.drop(columns='Unnamed: 0')
cleaned_census_df

,postal_code,Total population,Sex ratio (males per 100 females),Median age (years),White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Total housing units
0,10001,24117,102.1,36.9,15677,1510.0,16,5377,21,799,717,14746
1,10002,74479,88.6,44.3,23849,6635.0,724,31198,22,8924,3127,35921
2,10003,53977,99.8,32.5,40681,3007.0,81,7812,73,1155,1168,30931
3,10004,3335,75.2,37.4,2033,142.0,0,992,17,35,116,2264
4,10005,8701,89.5,30.3,6532,94.0,0,1543,0,217,315,5889
...,...,...,...,...,...,...,...,...,...,...,...,...
1414,14898,2018,93.1,28.2,1992,0.0,0,0,0,0,26,809
1415,14901,15855,112.5,34.4,11797,2656.0,213,131,5,128,925,6328
1416,14903,7600,106.4,46.0,7219,101.0,0,54,0,24,202,3851
1417,14904,15176,92.1,36.3,13055,1304.0,24,28,0,134,631,7315
1418,14905,8407,80.8,43.0,7329,553.0,0,146,7,167,205,4288

In [126]:
#Convert type to float
census_df3 = cleaned_census_df.astype(float)
census_df3

,postal_code,Total population,Sex ratio (males per 100 females),Median age (years),White,Black or African American,American Indian and Alaska Native,Asian,Native Hawaiian and Other Pacific Islander,Some other race,Two or more races,Total housing units
0,10001.0,24117.0,102.1,36.9,15677.0,1510.0,16.0,5377.0,21.0,799.0,717.0,14746.0
1,10002.0,74479.0,88.6,44.3,23849.0,6635.0,724.0,31198.0,22.0,8924.0,3127.0,35921.0
2,10003.0,53977.0,99.8,32.5,40681.0,3007.0,81.0,7812.0,73.0,1155.0,1168.0,30931.0
3,10004.0,3335.0,75.2,37.4,2033.0,142.0,0.0,992.0,17.0,35.0,116.0,2264.0
4,10005.0,8701.0,89.5,30.3,6532.0,94.0,0.0,1543.0,0.0,217.0,315.0,5889.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1414,14898.0,2018.0,93.1,28.2,1992.0,0.0,0.0,0.0,0.0,0.0,26.0,809.0
1415,14901.0,15855.0,112.5,34.4,11797.0,2656.0,213.0,131.0,5.0,128.0,925.0,6328.0
1416,14903.0,7600.0,106.4,46.0,7219.0,101.0,0.0,54.0,0.0,24.0,202.0,3851.0
1417,14904.0,15176.0,92.1,36.3,13055.0,1304.0,24.0,28.0,0.0,134.0,631.0,7315.0
1418,14905.0,8407.0,80.8,43.0,7329.0,553.0,0.0,146.0,7.0,167.0,205.0,4288.0

In [127]:
census_df3.dtypes

postal_code                                   float64
Total population                              float64
Sex ratio (males per 100 females)             float64
Median age (years)                            float64
White                                         float64
Black or African American                     float64
American Indian and Alaska Native             float64
Asian                                         float64
Native Hawaiian and Other Pacific Islander    float64
Some other race                               float64
Two or more races                             float64
Total housing units                           float64
dtype: object

In [ ]:
#Read in house price data
#zillow_df = pd.read_csv('Resources/zillow_housing_final_cleaned.csv')
#zillow_df = zillow_df.drop(columns = 'Unnamed: 0')
#zillow_df

In [ ]:
#Merge demographic data with house price data to prep for ML model
#nyc_df = pd.merge(zillow_df, census_df, on='postal_code', how='inner')
#nyc_df