In [14]:
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl
from sklearn.linear_model import LinearRegression
from functools import reduce

### Yelp Dataset

In [15]:
#Read csv file
yelp_df = pd.read_csv("../Resources/final_yelp_cleaned_by_zip.csv")

print(f"Shape of Yelp dataset:{yelp_df.shape}")
yelp_df.head()

Shape of Yelp dataset:(845, 421)

,postal_code,total_restaurants,avg_stars,total_reviews,BubbleTea,Coffee&Tea,Bakeries,Burgers,FastFood,Sandwiches,...,Donburi_stars,Pita_stars,Austrian_stars,EasternEuropean_stars,Cucinacampana_stars,ConveyorBeltSushi_stars,Poutineries_stars,Coffeeshops_stars,SerboCroatian_stars,num_rest_categories
0,8001,2,3.750000,18.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6
1,8002,96,3.276042,9827.0,1.0,9.0,3.0,14.0,18.0,16.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,61
2,8003,43,3.651163,3314.0,1.0,4.0,5.0,1.0,2.0,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51
3,8004,8,3.125000,160.0,0.0,1.0,0.0,0.0,0.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11
4,8005,1,3.500000,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2

In [16]:
#replace NaN with 0
yelp_df = yelp_df.fillna(0)
yelp_df.head()

,postal_code,total_restaurants,avg_stars,total_reviews,BubbleTea,Coffee&Tea,Bakeries,Burgers,FastFood,Sandwiches,...,Donburi_stars,Pita_stars,Austrian_stars,EasternEuropean_stars,Cucinacampana_stars,ConveyorBeltSushi_stars,Poutineries_stars,Coffeeshops_stars,SerboCroatian_stars,num_rest_categories
0,8001,2,3.750000,18.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6
1,8002,96,3.276042,9827.0,1.0,9.0,3.0,14.0,18.0,16.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,61
2,8003,43,3.651163,3314.0,1.0,4.0,5.0,1.0,2.0,11.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,51
3,8004,8,3.125000,160.0,0.0,1.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,11
4,8005,1,3.500000,7.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2

In [17]:
#Read csv file
zillow_df = pd.read_csv("../Resources/zillow_housing_final_cleaned.csv")

print(f"Shape of Zillow dataset:{zillow_df.shape}")
zillow_df.head()

Shape of Zillow dataset:(27696, 6)

   Unnamed: 0  postal_code State      City       CountyName     2021
0           0        10025    NY  New York  New York County  1114145
1           1        60657    IL   Chicago      Cook County   508407
2           2        10023    NY  New York  New York County  1450186
3           3        77494    TX      Katy    Harris County   404243
4           4        60614    IL   Chicago      Cook County   648360

In [18]:
#drop column Unnamed:0
zillow_col_drop = zillow_df.columns[0]
zillow_df = zillow_df.drop(zillow_col_drop, axis=1)

In [19]:
zillow_df.head()

   postal_code State      City       CountyName     2021
0        10025    NY  New York  New York County  1114145
1        60657    IL   Chicago      Cook County   508407
2        10023    NY  New York  New York County  1450186
3        77494    TX      Katy    Harris County   404243
4        60614    IL   Chicago      Cook County   648360

In [20]:
zillow_df.State.value_counts()

NY    1706
CA    1650
PA    1642
TX    1615
IL    1162
OH    1157
MI     949
FL     916
IA     845
VA     814
MN     812
MO     789
WI     736
IN     706
NC     694
GA     661
KY     620
OK     578
NJ     575
TN     565
WA     551
AR     508
MA     502
AL     500
MD     461
CO     440
WV     408
LA     403
SC     380
KS     375
ME     367
OR     362
NE     356
AZ     323
CT     264
VT     248
MS     246
ID     228
UT     224
NH     210
MT     191
NM     178
NV     153
ND     122
WY     119
SD      97
HI      79
RI      76
DE      66
AK      44
DC      23
Name: State, dtype: int64

In [9]:
df.head()

,postal_code,stars,review_count,Diversity,State,City,CountyName,2017
0,63123,3.0,15,3,MO,Affton,Saint Louis County,152645
1,63123,4.0,126,2,MO,Affton,Saint Louis County,152645
2,63123,3.5,83,1,MO,Affton,Saint Louis County,152645
3,63123,3.5,51,4,MO,Affton,Saint Louis County,152645
4,63123,2.5,21,2,MO,Affton,Saint Louis County,152645

### Merge Dataframes

In [22]:
# merge dataframes
frames = [zillow_df, yelp_df]
neighborhood_df = reduce(lambda left,right: pd.merge(left,right,on='postal_code'), frames)
neighborhood_df.head()

,postal_code,State,City,CountyName,2021,total_restaurants,avg_stars,total_reviews,BubbleTea,Coffee&Tea,...,Donburi_stars,Pita_stars,Austrian_stars,EasternEuropean_stars,Cucinacampana_stars,ConveyorBeltSushi_stars,Poutineries_stars,Coffeeshops_stars,SerboCroatian_stars,num_rest_categories
0,37013,TN,Nashville,Davidson County,295552,83,3.096386,4257.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60
1,37211,TN,Nashville,Davidson County,340382,182,3.491758,12761.0,2.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92
2,85710,AZ,Tucson,Pima County,261059,98,3.352041,10556.0,0.0,6.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,52
3,37075,TN,Hendersonville,Sumner County,390283,127,3.374016,8262.0,0.0,7.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,67
4,19143,PA,Philadelphia,Philadelphia County,174389,72,3.652778,6123.0,1.0,9.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,69

In [23]:
neighborhood_df.shape

(750, 425)

### Create a dataframe to define neighborhood tiers

House prices in every state and city are very different accross the country, for example, house prices for similar size/type houses in San Jose, CA and Tucson, AZ are dramatically different. To eliminate the bias of very large and small data in housing prices, we will calculate a multiplier. 

* We will first calculate the mean house price group by County
* Next we will divide each postal_code's house price by the corresponding County's mean house price
* This gives us a multiplier for each house price in the dataframe.

In [24]:
# Calculate the average house price per county
per_county_mean_price = neighborhood_df.groupby(['CountyName']).mean()['2021'].round(0)

In [25]:
per_county_mean_price

CountyName
Ada County           554799.0
Atlantic County      259946.0
Berks County         257951.0
Boone County         396263.0
Bucks County         469261.0
                       ...
Sumner County        370554.0
Washington County    149560.0
Washoe County        520481.0
Williamson County    628475.0
Wilson County        400786.0
Name: 2021, Length: 62, dtype: float64

In [26]:
# create dataframe that shows Average County House Price
county_price_df = pd.DataFrame({"Average County House Price": per_county_mean_price})

In [27]:
county_price_df.head()

                 Average County House Price
CountyName
Ada County                         554799.0
Atlantic County                    259946.0
Berks County                       257951.0
Boone County                       396263.0
Bucks County                       469261.0

In [28]:
# Merge dataframes
frames2 = [neighborhood_df, county_price_df]
neighborhood_df = reduce(lambda left,right: pd.merge(left,right,on='CountyName'), frames2)

In [29]:
neighborhood_df.head(10)

,postal_code,State,City,CountyName,2021,total_restaurants,avg_stars,total_reviews,BubbleTea,Coffee&Tea,...,Pita_stars,Austrian_stars,EasternEuropean_stars,Cucinacampana_stars,ConveyorBeltSushi_stars,Poutineries_stars,Coffeeshops_stars,SerboCroatian_stars,num_rest_categories,Average County House Price
0,37013,TN,Nashville,Davidson County,295552,83,3.096386,4257.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60,439999.0
1,37211,TN,Nashville,Davidson County,340382,182,3.491758,12761.0,2.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92,439999.0
2,37221,TN,Nashville,Davidson County,401000,69,3.217391,6690.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57,439999.0
3,37209,TN,Nashville,Davidson County,445902,147,3.772109,16663.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93,439999.0
4,37076,TN,Nashville,Davidson County,328591,81,3.228395,4994.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53,439999.0
5,37115,TN,Nashville,Davidson County,276743,72,2.972222,2559.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49,439999.0
6,37207,TN,Nashville,Davidson County,319986,52,3.278846,2594.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45,439999.0
7,37214,TN,Nashville,Davidson County,313097,169,3.038462,19702.0,1.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,439999.0
8,37203,TN,Nashville,Davidson County,530112,305,3.677049,73619.0,2.0,26.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99,439999.0
9,37217,TN,Nashville,Davidson County,276823,73,3.260274,3444.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58,439999.0

In [30]:
#Calculate multiplier/indicator to address outliers
neighborhood_df["Neighborhood Indicator"] = neighborhood_df["2021"]/neighborhood_df["Average County House Price"]

In [31]:
neighborhood_df.head(10)

,postal_code,State,City,CountyName,2021,total_restaurants,avg_stars,total_reviews,BubbleTea,Coffee&Tea,...,Austrian_stars,EasternEuropean_stars,Cucinacampana_stars,ConveyorBeltSushi_stars,Poutineries_stars,Coffeeshops_stars,SerboCroatian_stars,num_rest_categories,Average County House Price,Neighborhood Indicator
0,37013,TN,Nashville,Davidson County,295552,83,3.096386,4257.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,60,439999.0,0.671711
1,37211,TN,Nashville,Davidson County,340382,182,3.491758,12761.0,2.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,92,439999.0,0.773597
2,37221,TN,Nashville,Davidson County,401000,69,3.217391,6690.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,57,439999.0,0.911366
3,37209,TN,Nashville,Davidson County,445902,147,3.772109,16663.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,93,439999.0,1.013416
4,37076,TN,Nashville,Davidson County,328591,81,3.228395,4994.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,53,439999.0,0.746799
5,37115,TN,Nashville,Davidson County,276743,72,2.972222,2559.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,49,439999.0,0.628963
6,37207,TN,Nashville,Davidson County,319986,52,3.278846,2594.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,45,439999.0,0.727243
7,37214,TN,Nashville,Davidson County,313097,169,3.038462,19702.0,1.0,13.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,79,439999.0,0.711586
8,37203,TN,Nashville,Davidson County,530112,305,3.677049,73619.0,2.0,26.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,99,439999.0,1.204803
9,37217,TN,Nashville,Davidson County,276823,73,3.260274,3444.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,58,439999.0,0.629145

### Create neighborhood tiers

In [32]:
# check ranges for determining bins

#check the lower quantile indicator
neighborhood_df["Neighborhood Indicator"].quantile(q=0.25)

0.757639736940578

In [33]:
#check the upper quantile indicator
neighborhood_df["Neighborhood Indicator"].quantile(q=0.75)

1.1424542161856608

In [34]:
#check the max indicator
neighborhood_df["Neighborhood Indicator"].max()

3.5930840618499715

### Tiers

|    Tier1          |    Tier2         |     Tier3      |     
|-------------------|------------------|----------------|
|  >=1.15           | 0.77>Tier2>1.15  |    <=0.77      |
|-------------------|------------------|----------------|
| high tier         |   median tier.   |   low tier.    |
|-------------------|------------------|----------------|

In [35]:
# Cut the neighborhood indicator into the tiers.
spending_bins = [0, 0.77, 1.15, 4]
group_names = ["3", "2", "1"]

In [36]:
# Categorize neighborhood indicators based on the bins.
neighborhood_df["Neighborhood Tiers"] = pd.cut(neighborhood_df["Neighborhood Indicator"], spending_bins, labels=group_names)
neighborhood_df.head()

,postal_code,State,City,CountyName,2021,total_restaurants,avg_stars,total_reviews,BubbleTea,Coffee&Tea,...,EasternEuropean_stars,Cucinacampana_stars,ConveyorBeltSushi_stars,Poutineries_stars,Coffeeshops_stars,SerboCroatian_stars,num_rest_categories,Average County House Price,Neighborhood Indicator,Neighborhood Tiers
0,37013,TN,Nashville,Davidson County,295552,83,3.096386,4257.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,60,439999.0,0.671711,3
1,37211,TN,Nashville,Davidson County,340382,182,3.491758,12761.0,2.0,12.0,...,0.0,0.0,0.0,0.0,0.0,0.0,92,439999.0,0.773597,2
2,37221,TN,Nashville,Davidson County,401000,69,3.217391,6690.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,57,439999.0,0.911366,2
3,37209,TN,Nashville,Davidson County,445902,147,3.772109,16663.0,0.0,10.0,...,0.0,0.0,0.0,0.0,0.0,0.0,93,439999.0,1.013416,2
4,37076,TN,Nashville,Davidson County,328591,81,3.228395,4994.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,53,439999.0,0.746799,3

In [38]:
# Export joined_df to csv
file = "../Resources/neighborhood_tier_final.csv"
neighborhood_df.to_csv(file, index=False)

In [39]:
neighborhood_df.State.value_counts()

PA    200
FL    120
NJ    100
IN     60
MO     58
TN     48
LA     37
AZ     35
IL     31
DE     17
NV     17
ID     14
CA     12
NC      1
Name: State, dtype: int64